.header {
    color: #fff;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    font-family: 'roboto', sans-serif;
}

body {
    /* background-image: url('./images/background2.jpg');
    background-repeat: no-repeat;
    background-position: center; */
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    font-family: 'roboto', sans-serif;
}

.img-container {
    width: 23.3%;
    height: 30%;
    float: left;
    margin-left: 1%;
}

#centered_div {
    margin: 0 auto;
    width: 90%;
    height: 200px;
}

footer {
    text-align: center;
}

img {
    width: 100%;
}